In [1]:
import pandas as pd
import numpy as np

def transformBase():
    coltodrop = []
    df = pd.read_csv('/sgoinfre/goinfre/Perso/pdespres/ensdata/train.csv')
    #df = pd.read_csv('E:\\Downloads\\train.csv')
    df.drop('Ids', axis=1, inplace=True)
    print("Loaded")
    df.apply(pd.to_numeric,downcast='unsigned')
    print("Cast en uint8")
    for i in range(0,36248,2):
      df[df.columns[i]] += df[df.columns[i + 1]]# + 2
      coltodrop.append(df.columns[i + 1])
    print("Added")
    df.drop(coltodrop, axis=1, inplace=True)
    df.rename(index=str, columns= lambda x: str(x)[:-2], inplace=True)
    return df
    
%time df = transformBase()
print(df.shape)
print(df.head())

Loaded
Cast en uint8
Added
CPU times: user 15min 31s, sys: 2min 10s, total: 17min 41s
Wall time: 17min 37s

,SNP_0,SNP_1,SNP_2,SNP_3,SNP_4,SNP_5,SNP_6,SNP_7,SNP_8,SNP_9,...,SNP_18114,SNP_18115,SNP_18116,SNP_18117,SNP_18118,SNP_18119,SNP_18120,SNP_18121,SNP_18122,SNP_18123
0,1,0,1,1,1,0,0,1,0,0,...,0,1,0,1,1,0,0,1,1,1
1,1,0,1,0,0,0,1,0,2,1,...,0,0,0,1,2,0,1,0,0,0
2,1,1,1,1,0,0,0,0,1,1,...,1,0,0,1,0,0,0,0,0,0
3,0,0,2,0,1,0,1,1,0,1,...,0,0,0,1,0,0,0,0,0,0
4,1,1,1,0,1,0,0,1,1,0,...,0,0,0,2,1,0,0,0,1,1

In [ ]:
def saveBase(df):
    df.to_csv('/sgoinfre/goinfre/Perso/pdespres/ensdata/train_redux.csv', index=False)
    #df.to_csv('E:\\Downloads\\train_b0.csv', index=False)
    
%time saveBase(df)

In [2]:
import numpy as np
import h5py

def loadData():
	global train
	global label
	global test
	train = np.loadtxt("/sgoinfre/goinfre/Perso/pdespres/ensdata/train.csv", delimiter=',', skiprows=1,
					   usecols=range(1,36249), dtype='int8')
	#label = np.loadtxt("train_label.csv", delimiter=';',
	#				   skiprows=1, usecols=(1), dtype='int8')
	#test = np.loadtxt("test.csv", delimiter=',', skiprows=1,
	#				  usecols=range(1,36249), dtype='int8')

def saveData():
	'''
	This function writes all the data to an hdf5 file
	'''
	# write numpy arrary tensor into h5 format
	h5f = h5py.File('/sgoinfre/goinfre/Perso/pdespres/ensdata/ENSdata.h5', 'w')
	h5f.create_dataset('train', data=train)
	h5f.close()

def readData():
	'''
	This function reads in the hdf5 file - it takes
	around 3s on average to run on a
	dual processor workstation
	'''
	# read h5 format back to numpy array
	global train
	global label
	global test
	global train_feature
	global test_feature
	h5f = h5py.File('DNAdata.h5', 'r')
	train = h5f['train'][:]
	label = h5f['label'][:]
	test = h5f['test'][:]
	train_feature = h5f['train_feature'][:]
	test_feature = h5f['test_feature'][:]
	h5f.close()
	print("--- Data read in successfully ---")
    
%time loadData()

CPU times: user 9min 8s, sys: 51.5 s, total: 9min 59s
Wall time: 10min 35s