In [18]:
import pandas as pd
import numpy as np

def transformBase():
    coltodrop = []
    df = pd.read_csv('/sgoinfre/goinfre/Perso/pdespres/ensdata/train.csv')
    #df = pd.read_csv('E:\\Downloads\\train.csv')
    df = df.drop('Ids', axis=1, inplace=True)
    print("Loaded")
    df = df.apply(pd.to_numeric,downcast='unsigned')
    print("Cast en uint8")
    for i in range(0,36248,2):
      df[df.columns[i]] += df[df.columns[i + 1]] + 2
      coltodrop.append(df.columns[i + 1])
    print("Added")
    df.drop(coltodrop, axis=1, inplace=True)
    df.rename(index=str, columns= lambda x: str(x)[:-2], inplace=True)
    return df
    
%time df = transformBase()
df.head()

Loaded
Cast en uint8
Added
CPU times: user 15min 55s, sys: 2min, total: 17min 55s
Wall time: 19min 10s

,SNP_0_a,SNP_1_a,SNP_2_a,SNP_3_a,SNP_4_a,SNP_5_a,SNP_6_a,SNP_7_a,SNP_8_a,SNP_9_a,...,SNP_18114_a,SNP_18115_a,SNP_18116_a,SNP_18117_a,SNP_18118_a,SNP_18119_a,SNP_18120_a,SNP_18121_a,SNP_18122_a,SNP_18123_a
0,3,2,3,3,3,2,2,3,2,2,...,2,3,2,3,3,2,2,3,3,3
1,3,2,3,2,2,2,3,2,4,3,...,2,2,2,3,4,2,3,2,2,2
2,3,3,3,3,2,2,2,2,3,3,...,3,2,2,3,2,2,2,2,2,2
3,2,2,4,2,3,2,3,3,2,3,...,2,2,2,3,2,2,2,2,2,2
4,3,3,3,2,3,2,2,3,3,2,...,2,2,2,4,3,2,2,2,3,3

In [19]:
df.shape

(26500, 18124)

In [20]:
df.to_csv('/sgoinfre/goinfre/Perso/pdespres/ensdata/train_b0.csv', index=False)
#df.to_csv('E:\\Downloads\\train_b0.csv', index=False)