In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('~/Downloads/train_redux2_QC_05_000001.csv')
df.apply(pd.to_numeric,downcast='unsigned')
y = pd.read_csv('~/Downloads/y2.csv', sep=';', usecols=[1])
y.apply(pd.to_numeric,downcast='unsigned')
df.shape

       TARGET
0           0
1           0
2           0
3           0
4           1
5           1
6           1
7           1
8           0
9           0
10          1
11          1
12          0
13          1
14          0
15          0
16          1
17          1
18          0
19          0
20          0
21          1
22          0
23          0
24          0
25          0
26          0
27          0
28          0
29          0
...       ...
26454       1
26455       0
26456       0
26457       0
26458       1
26459       0
26460       0
26461       0
26462       0
26463       0
26464       0
26465       1
26466       1
26467       1
26468       1
26469       0
26470       0
26471       1
26472       0
26473       0
26474       1
26475       1
26476       1
26477       0
26478       1
26479       0
26480       1
26481       0
26482       1
26483       0

[26484 rows x 1 columns]

In [ ]:
from sklearn.linear_model import LogisticRegression
from scipy.stats import norm

def logit_pvalue(model, x):
    """ Calculate z-scores for scikit-learn LogisticRegression.
    parameters:
        model: fitted sklearn.linear_model.LogisticRegression with intercept and large C
        x:     matrix on which the model was fit
    This function uses asymtptics for maximum likelihood estimates.
    """
    p = model.predict_proba(x)
    n = len(p)
    m = len(model.coef_[0]) + 1
    coefs = np.concatenate([model.intercept_, model.coef_[0]])
    x_full = np.matrix(np.insert(np.array(x), 0, 1, axis = 1))
    ans = np.zeros((m, m))
    for i in range(n):
        ans = ans + np.dot(np.transpose(x_full[i, :]), x_full[i, :]) * p[i,1] * p[i, 0]
    vcov = np.linalg.inv(np.matrix(ans))
    se = np.sqrt(np.diag(vcov))
    t =  coefs/se  
    p = (1 - norm.cdf(abs(t))) * 2
    return p

highAssoc = []
treshold = 0.05 / df.shape[1]

for i in range(df.shape[1]):
    model = LogisticRegression(C=1000000000)
    x = df.iloc[:, i].values.reshape(-1,1)
    model.fit(x, y.values.ravel())
    test = logit_pvalue(model, x)[1]
    if test < treshold:
        highAssoc.append(df.columns.values[i])
        #print(logit_pvalue(model, x)[1])
        
print("Total features: " + str(df.shape[1]))
print('found logit P value: ' + str(len(highAssoc)))

In [ ]:
export = pd.DataFrame(lowMAF)
export.to_csv('E:\\Downloads\\FS_RL.csv', index=False)